reloadFrequencyMillis	86400000
dbName	your_db
zooKeeperList	node-1:port,node-2:port,node-3:port
accumuloUser	root
accumuloPassword	password
convertedImageListTableName	ConvertedImageList_hyperion
availableImagesTableName	AvailableImages_hyperion
summaryStatisticsTableName	SummaryStatistics_hyperion
wavelengthFile	/resources/data/hyperionWavelengths.json
multiplierFile	/resources/data/hyperionMultipliers.json
dirNamePattern	EO1.*_HYP_L1G
metadataFilePattern	.*\\.L1T
localFileRoot	/path/to/images
hdfsDirUri	hdfs://node:port/user/hadoop/ConvertedImages-hyperion/2014
